<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网络投票管理系统</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/cloud.js"></script>
<script>
$(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
	$(window).resize(function(){  
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
    })  
});  
</script> 
</head>
<body style="background-color:#1c77ac; background-image:url(images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
<div id="mainBody">
  <div id="cloud1" class="cloud"></div>
  <div id="cloud2" class="cloud"></div>
</div> 
<div class="logintop">    
	<span>欢迎登录网络投票管理系统</span>      
</div>
  
<div class="loginbody">
<span class="systemlogo"></span> 
<div class="loginbox">
<form action="{:U('Index/checklogin')}" method="post">
<ul>
	<li><input name="username" type="text" class="loginuser" value="" placeholder="账号"/></li>
	<li><input name="password" type="password" class="loginpwd" value="" placeholder="密码"/></li>
	<li><input name="" type="submit" class="loginbtn" value="登 录"/><label>注意：密码忘记请联系管理员</label></li>
</ul>
</div>
</div>
<div class="loginbm">&copy; 2015 网络投票管理系统 &nbsp;&nbsp;Design：Webster</div>    
</body>
</html>
