<!--
编程中我们会遇到多少挫折？表放弃，沙漠尽头必是绿洲!
---------------------------------------------------------------------------------------------------
Title：企业网站管理系统
Design：Webster 西瓜  Blog：http://www.580bang.com/  QQ:312549912
CopyRight：江苏七八九网络科技有限公司
Site：http://www.js789.com.cn/
Desc：江苏七八九网络科技有限公司专注于微信运营，微信开发，企业网站制作，线下活动策划与运作！我们有专业的运营团队，在微信领域有着3年的运营沉淀经验！ 
---------------------------------------------------------------------------------------------------
-->
<!Doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<title>企业网站管理后台</title>
<link rel="stylesheet" href="__CSS__/style.css"/>
<script src="__JS__/jquery.min.js"></script>
</head>
<body>
<section class="place">
   <span>位置：</span>
   <ul class="placeul">
	   <li><a href="#">首页</a></li>
	   <li><a href="#">投票管理</a></li>
	   <li><a href="#">投票列表</a></li>
   </ul>
</section>
    
<section class="rightinfo">
<!-- 列表 -->
<table class="tablelist">
	<thead>
		<tr>
		    <th>编号</th>
		    <th>Cookie_id</th>
		    <th>投票IP</th>
		    <th>投票时间</th>
	    </tr>
    </thead>
    <tbody id="allcheck">
    <volist name="list" id="vo">
	    <tr>
		    <td>{$vo.id}</td>
		    <td>{$vo.cookie_id}</td>
		    <td>{$vo.ipaddr}</td>
		    <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
		</tr> 
	</volist>     
    </tbody>
</table>
<!-- 分页 -->
<div class="clear"></div>
<section class="manu">{$page}</section>
</section>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>